@import '../../../habbit-frontend/src/assets/scss/global.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  padding-inline: 0;
  font-family: 'Rubik', sans-serif;
}

:root,
:root.md {
  --spacer: #{$spacer};
  --spacer-sm: #{$spacer * 2};
  --spacer-lg: #{$spacer * 3};
  --spacer-xl: #{$spacer * 4};
  --spacer-xxl: #{$spacer * 5};
  --border-radius: #{$border-radius};
  --border-radius-sm: #{$border-radius-sm};
  --border-radius-lg: #{$border-radius-lg};
  --border-radius-xl: #{$border-radius-xl};
  --border-radius-xxl: #{$border-radius-xxl};

  --ion-background-color: #{$gray-default};
  --ion-background-color-rgb: 16, 12, 8;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-text-color-step-50: #f3f3f3;
  --ion-text-color-step-100: #e7e7e6;
  --ion-text-color-step-150: #dbdbda;
  --ion-text-color-step-200: #cfcece;
  --ion-text-color-step-250: #c3c2c1;
  --ion-text-color-step-300: #b7b6b5;
  --ion-text-color-step-350: #abaaa9;
  --ion-text-color-step-400: #9f9e9c;
  --ion-text-color-step-450: #939290;
  --ion-text-color-step-500: #888684;
  --ion-text-color-step-550: #7c7977;
  --ion-text-color-step-600: #706d6b;
  --ion-text-color-step-650: #64615e;
  --ion-text-color-step-700: #585552;
  --ion-text-color-step-750: #4c4946;
  --ion-text-color-step-800: #403d39;
  --ion-text-color-step-850: #34302d;
  --ion-text-color-step-900: #282421;
  --ion-text-color-step-950: #1c1814;
  --ion-background-color-step-50: #1c1814;
  --ion-background-color-step-100: #282421;
  --ion-background-color-step-150: #34302d;
  --ion-background-color-step-200: #403d39;
  --ion-background-color-step-250: #4c4946;
  --ion-background-color-step-300: #585552;
  --ion-background-color-step-350: #64615e;
  --ion-background-color-step-400: #706d6b;
  --ion-background-color-step-450: #7c7977;
  --ion-background-color-step-500: #888684;
  --ion-background-color-step-550: #939290;
  --ion-background-color-step-600: #9f9e9c;
  --ion-background-color-step-650: #abaaa9;
  --ion-background-color-step-700: #b7b6b5;
  --ion-background-color-step-750: #c3c2c1;
  --ion-background-color-step-800: #cfcece;
  --ion-background-color-step-850: #dbdbda;
  --ion-background-color-step-900: #e7e7e6;
  --ion-background-color-step-950: #f3f3f3;
  --ion-font-family: 'Rubik', sans-serif;
  --ion-toolbar-color: white;
}

ion-tab-button,
ion-button {
  --background: #{$gray-default};
  --background-activated: #{$gray-default};
  --padding-top: #{$spacer};
  --padding-bottom: #{$spacer};
  --border-radius: #{$border-radius-sm};
  --border-width: 2px;
  --ripple-color: #{$gray-800};

  height: 52px;
  overflow: hidden;
  color: var(--ion-text-color);
  font-weight: 500;
  font-size: 1em;
  text-transform: initial;
}

ion-tab-button {
  border-width: var(--border-width);
  border-style: solid;
  border-color: #{$gray-default};
  border-radius: var(--border-radius);

  &.tab-selected {
    --background: #{$gray-900};
  }

  &.tab-selected {
    border-color: var(--ion-text-color);
  }
}

ion-button {
  &.button-outline {
    --background: #{$gray-900};
    --border-color: #{$gray-800};
  }

  &.button-outline:hover {
    --background: #{$gray-800};
    --border-color: #{$gray-700};
  }

  &.button-solid {
    --background: #{$gray-default};
    --border-color: #{$gray-default};
  }

  &.button-solid:hover {
    --background: #{$gray-900};
    --border-color: #{$gray-900};
  }

  &.button-clear {
    --background: #{$gray-default};
    --border-color: #{$gray-default};

    color: #{$gray-300};
    text-decoration: underline;
  }

  &.button-clear:hover {
    color: white;
  }
}

ion-toolbar {
  --background: #{$gray-default};
  --border-width: 0 !important;
}

ion-nav ion-item {
  --background: #{$gray-default};
  --inner-border-width: 0;
}

ion-tab-bar {
  --background: #{$gray-default};

  display: flex;
  border-top: 0;
  padding: $spacer $spacer * 3 $spacer * 4 $spacer * 3;
}

ion-title {
  font-weight: 500;
  font-size: calc(1.375rem + 1.5vw);
}

ion-title.title-small,
ion-list-header {
  font-size: calc(1.375rem + 0.9vw);
  text-align: left;
}

ion-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: #{$spacer * 4};
  height: #{$spacer * 8};

  &.header-md {
    box-shadow: none;
  }
}

ion-tab-bar {
  height: 52px;
}

ion-list {
  --ion-item-background: #{$gray-900};

  border: solid 2px #{$gray-800};
  border-radius: #{$border-radius-lg} !important;
  padding: #{$spacer} !important;
}

ion-content::part(background) {
  background-color: #{$gray-default};
}

.ion-gap,
.ion-gap-2,
.ion-gap-4,
.ion-gap-6,
.ion-gap-8 {
  display: flex;
  flex-direction: column;
}

.ion-gap {
  gap: $spacer;
}

.ion-gap-2 {
  gap: $spacer * 2;
}

.ion-gap-4 {
  gap: $spacer * 4;
}

.ion-gap-6 {
  gap: $spacer * 6;
}

.ion-gap-8 {
  gap: $spacer * 8;
}
